<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Drivers y Metas para Director Ejecutivo</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Drivers y Metas para Director Ejecutivo</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-motivation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_motivation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-0980df6a2b174ac69b6a4b41b2fadb12.png" alt="Drivers y Metas para Director Ejecutivo" usemap="#id-0980df6a2b174ac69b6a4b41b2fadb12map"/>
			   <map name="id-0980df6a2b174ac69b6a4b41b2fadb12map">
				  		<area shape="rect" coords="40,10,160,65" href="../elements/id-d4e2d730cf3b4b2f96711c74470b244e.html"  target="element">
				  		<area shape="rect" coords="413,94,533,149" href="../elements/id-073bfe8353cd41d4ba3d1bb6d73c781a.html"  target="element">
				  		<area shape="rect" coords="870,190,1012,249" href="../elements/id-908b891658b9484390e7a946a2130f48.html"  target="element">
				  		<area shape="rect" coords="891,448,1011,503" href="../elements/id-97c3c6d07cd44dd58ec27fbdd611e9e3.html"  target="element">
				  		<area shape="rect" coords="892,22,1012,77" href="../elements/id-bbca1b2adb1b4b908483b4c712ed4e4f.html"  target="element">
				  		<area shape="rect" coords="364,322,533,395" href="../elements/id-7e3271421c294561bb3b53969b2b220c.html"  target="element">
				  		<area shape="rect" coords="700,298,855,353" href="../elements/id-2902f3fcdec14cf8b37815193270912a.html"  target="element">
				  		<area shape="rect" coords="413,448,558,503" href="../elements/id-7d2a25c87db24dd69e06cc384239d08e.html"  target="element">
				  		<area shape="rect" coords="208,358,328,413" href="../elements/id-575360cf7c0e41789321c9ac3bf754f5.html"  target="element">
				  		<area shape="rect" coords="40,448,160,503" href="../elements/id-21be7370960f4a7e8b1e9eac3f8aa410.html"  target="element">
				  		<area shape="rect" coords="676,22,796,77" href="../elements/id-eaf553a2f9de42169df78c9650cdf829.html"  target="element">
				  		<area shape="rect" coords="413,226,533,281" href="../elements/id-976f1812f58d41fb9fc1a788f7ceed11.html"  target="element">
				  		<area shape="rect" coords="10,172,142,227" href="../elements/id-c6108eb3c67b49c2bdd5e8d31eba30e2.html"  target="element">
				  		<area shape="rect" coords="220,94,340,149" href="../elements/id-59652a0b3204429e92b53533293b163d.html"  target="element">
				  		<area shape="rect" coords="220,10,340,65" href="../elements/id-6210d3b1ed994e20bb17c341f314be08.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6210d3b1ed994e20bb17c341f314be08.html" target="element"> Director Ejecutivo </a> </td>
											    <td> <a href="../elements/id-6210d3b1ed994e20bb17c341f314be08.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-59652a0b3204429e92b53533293b163d.html" target="element"> Valor de la Compa&#241;ia </a> </td>
											    <td> <a href="../elements/id-59652a0b3204429e92b53533293b163d.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c6108eb3c67b49c2bdd5e8d31eba30e2.html" target="element"> Estandares de la organizaci&#243;n </a> </td>
											    <td> <a href="../elements/id-c6108eb3c67b49c2bdd5e8d31eba30e2.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-976f1812f58d41fb9fc1a788f7ceed11.html" target="element"> EBITDA </a> </td>
											    <td> <a href="../elements/id-976f1812f58d41fb9fc1a788f7ceed11.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eaf553a2f9de42169df78c9650cdf829.html" target="element"> Gerencia de innovaci&#243;n </a> </td>
											    <td> <a href="../elements/id-eaf553a2f9de42169df78c9650cdf829.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-21be7370960f4a7e8b1e9eac3f8aa410.html" target="element"> Pr&#225;cticas ejecutivas d&#233;biles </a> </td>
											    <td> <a href="../elements/id-21be7370960f4a7e8b1e9eac3f8aa410.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-575360cf7c0e41789321c9ac3bf754f5.html" target="element"> Baja penetraci&#243;n de mercado </a> </td>
											    <td> <a href="../elements/id-575360cf7c0e41789321c9ac3bf754f5.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7d2a25c87db24dd69e06cc384239d08e.html" target="element"> Baja efectividad en ejecuci&#243;n de proyectos </a> </td>
											    <td> <a href="../elements/id-7d2a25c87db24dd69e06cc384239d08e.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2902f3fcdec14cf8b37815193270912a.html" target="element"> Priorizar, financiar y alinear la actividad de innovaci&#243;n </a> </td>
											    <td> <a href="../elements/id-2902f3fcdec14cf8b37815193270912a.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7e3271421c294561bb3b53969b2b220c.html" target="element"> Tomar decisiones de compra TI que se ajusten a la Arquitectura </a> </td>
											    <td> <a href="../elements/id-7e3271421c294561bb3b53969b2b220c.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bbca1b2adb1b4b908483b4c712ed4e4f.html" target="element"> Gerencia de Operaciones (X) </a> </td>
											    <td> <a href="../elements/id-bbca1b2adb1b4b908483b4c712ed4e4f.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-97c3c6d07cd44dd58ec27fbdd611e9e3.html" target="element"> Dificultad para Iniciar nuevas Operaciones </a> </td>
											    <td> <a href="../elements/id-97c3c6d07cd44dd58ec27fbdd611e9e3.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-908b891658b9484390e7a946a2130f48.html" target="element"> Implementar nuevas operaciones </a> </td>
											    <td> <a href="../elements/id-908b891658b9484390e7a946a2130f48.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-073bfe8353cd41d4ba3d1bb6d73c781a.html" target="element"> Generaci&#243;n de Caja </a> </td>
											    <td> <a href="../elements/id-073bfe8353cd41d4ba3d1bb6d73c781a.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d4e2d730cf3b4b2f96711c74470b244e.html" target="element"> Consolidaci&#243;n r&#225;pida </a> </td>
											    <td> <a href="../elements/id-d4e2d730cf3b4b2f96711c74470b244e.html" target="element" class="i18n-elementtype-Value"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-2c3cee6b683a4d2c8573d786972777b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2c3cee6b683a4d2c8573d786972777b3.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-6210d3b1ed994e20bb17c341f314be08.html" target="element"> Director Ejecutivo </a> </td>
																		<td> <a href="../elements/id-eaf553a2f9de42169df78c9650cdf829.html" target="element"> Gerencia de innovaci&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-dd1673328a09465d837a8ad446a7cf45.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd1673328a09465d837a8ad446a7cf45.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-59652a0b3204429e92b53533293b163d.html" target="element"> Valor de la Compa&#241;ia </a> </td>
																		<td> <a href="../elements/id-6210d3b1ed994e20bb17c341f314be08.html" target="element"> Director Ejecutivo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8823791bb5f34a15b4b280180d9b0188.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8823791bb5f34a15b4b280180d9b0188.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-59652a0b3204429e92b53533293b163d.html" target="element"> Valor de la Compa&#241;ia </a> </td>
																		<td> <a href="../elements/id-c6108eb3c67b49c2bdd5e8d31eba30e2.html" target="element"> Estandares de la organizaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c2ed878b74d64437875b51961b38da81.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c2ed878b74d64437875b51961b38da81.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-59652a0b3204429e92b53533293b163d.html" target="element"> Valor de la Compa&#241;ia </a> </td>
																		<td> <a href="../elements/id-976f1812f58d41fb9fc1a788f7ceed11.html" target="element"> EBITDA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8bf436f0a815478aa877fd6b8b648500.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8bf436f0a815478aa877fd6b8b648500.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c6108eb3c67b49c2bdd5e8d31eba30e2.html" target="element"> Estandares de la organizaci&#243;n </a> </td>
																		<td> <a href="../elements/id-7e3271421c294561bb3b53969b2b220c.html" target="element"> Tomar decisiones de compra TI que se ajusten a la Arquitectura </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7f8dbcccad154f6eb8d768723887f64e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7f8dbcccad154f6eb8d768723887f64e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-976f1812f58d41fb9fc1a788f7ceed11.html" target="element"> EBITDA </a> </td>
																		<td> <a href="../elements/id-7e3271421c294561bb3b53969b2b220c.html" target="element"> Tomar decisiones de compra TI que se ajusten a la Arquitectura </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eb17dc68c917435d97b8f69ffc0783a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eb17dc68c917435d97b8f69ffc0783a6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-976f1812f58d41fb9fc1a788f7ceed11.html" target="element"> EBITDA </a> </td>
																		<td> <a href="../elements/id-2902f3fcdec14cf8b37815193270912a.html" target="element"> Priorizar, financiar y alinear la actividad de innovaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1e172438778b4366b143e6628d8e3080.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1e172438778b4366b143e6628d8e3080.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-976f1812f58d41fb9fc1a788f7ceed11.html" target="element"> EBITDA </a> </td>
																		<td> <a href="../elements/id-908b891658b9484390e7a946a2130f48.html" target="element"> Implementar nuevas operaciones </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ec76f3965bcf45d4b5c3fbc6b720e0b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ec76f3965bcf45d4b5c3fbc6b720e0b1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-21be7370960f4a7e8b1e9eac3f8aa410.html" target="element"> Pr&#225;cticas ejecutivas d&#233;biles </a> </td>
																		<td> <a href="../elements/id-c6108eb3c67b49c2bdd5e8d31eba30e2.html" target="element"> Estandares de la organizaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-746790beecd14d238c1a03d8aabc1a51.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-746790beecd14d238c1a03d8aabc1a51.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-21be7370960f4a7e8b1e9eac3f8aa410.html" target="element"> Pr&#225;cticas ejecutivas d&#233;biles </a> </td>
																		<td> <a href="../elements/id-575360cf7c0e41789321c9ac3bf754f5.html" target="element"> Baja penetraci&#243;n de mercado </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f25c90369dae44e6ba4d396aae51f52b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f25c90369dae44e6ba4d396aae51f52b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-575360cf7c0e41789321c9ac3bf754f5.html" target="element"> Baja penetraci&#243;n de mercado </a> </td>
																		<td> <a href="../elements/id-976f1812f58d41fb9fc1a788f7ceed11.html" target="element"> EBITDA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8da1423ea06b43f6a6e8558893d1782c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8da1423ea06b43f6a6e8558893d1782c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-7d2a25c87db24dd69e06cc384239d08e.html" target="element"> Baja efectividad en ejecuci&#243;n de proyectos </a> </td>
																		<td> <a href="../elements/id-2902f3fcdec14cf8b37815193270912a.html" target="element"> Priorizar, financiar y alinear la actividad de innovaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a32660fca9814836b5f00e5aee9e3769.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a32660fca9814836b5f00e5aee9e3769.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-7d2a25c87db24dd69e06cc384239d08e.html" target="element"> Baja efectividad en ejecuci&#243;n de proyectos </a> </td>
																		<td> <a href="../elements/id-575360cf7c0e41789321c9ac3bf754f5.html" target="element"> Baja penetraci&#243;n de mercado </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-87cf38725d064f9eae8d39e752f23326.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-87cf38725d064f9eae8d39e752f23326.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-7d2a25c87db24dd69e06cc384239d08e.html" target="element"> Baja efectividad en ejecuci&#243;n de proyectos </a> </td>
																		<td> <a href="../elements/id-7e3271421c294561bb3b53969b2b220c.html" target="element"> Tomar decisiones de compra TI que se ajusten a la Arquitectura </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cc629e59e4b74edeb3402f8edaf8fd8c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cc629e59e4b74edeb3402f8edaf8fd8c.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-7d2a25c87db24dd69e06cc384239d08e.html" target="element"> Baja efectividad en ejecuci&#243;n de proyectos </a> </td>
																		<td> <a href="../elements/id-97c3c6d07cd44dd58ec27fbdd611e9e3.html" target="element"> Dificultad para Iniciar nuevas Operaciones </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d20cb737dceb42e7a7b4da1e02378f8f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d20cb737dceb42e7a7b4da1e02378f8f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-2902f3fcdec14cf8b37815193270912a.html" target="element"> Priorizar, financiar y alinear la actividad de innovaci&#243;n </a> </td>
																		<td> <a href="../elements/id-eaf553a2f9de42169df78c9650cdf829.html" target="element"> Gerencia de innovaci&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b3c200cff1dd4920847f2254b7d59ea8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b3c200cff1dd4920847f2254b7d59ea8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-7e3271421c294561bb3b53969b2b220c.html" target="element"> Tomar decisiones de compra TI que se ajusten a la Arquitectura </a> </td>
																		<td> <a href="../elements/id-eaf553a2f9de42169df78c9650cdf829.html" target="element"> Gerencia de innovaci&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fc4ee6644e904bb091e60f3a218534dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fc4ee6644e904bb091e60f3a218534dc.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-97c3c6d07cd44dd58ec27fbdd611e9e3.html" target="element"> Dificultad para Iniciar nuevas Operaciones </a> </td>
																		<td> <a href="../elements/id-908b891658b9484390e7a946a2130f48.html" target="element"> Implementar nuevas operaciones </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-eb061ad56d744a0b8fbf7ae53976871b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eb061ad56d744a0b8fbf7ae53976871b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-908b891658b9484390e7a946a2130f48.html" target="element"> Implementar nuevas operaciones </a> </td>
																		<td> <a href="../elements/id-bbca1b2adb1b4b908483b4c712ed4e4f.html" target="element"> Gerencia de Operaciones (X) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cfaf871d6b3249538203c17ec6abbb14.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cfaf871d6b3249538203c17ec6abbb14.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-073bfe8353cd41d4ba3d1bb6d73c781a.html" target="element"> Generaci&#243;n de Caja </a> </td>
																		<td> <a href="../elements/id-976f1812f58d41fb9fc1a788f7ceed11.html" target="element"> EBITDA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d5a7511d8cfb4e0b80bcf593b6937b03.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d5a7511d8cfb4e0b80bcf593b6937b03.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-073bfe8353cd41d4ba3d1bb6d73c781a.html" target="element"> Generaci&#243;n de Caja </a> </td>
																		<td> <a href="../elements/id-6210d3b1ed994e20bb17c341f314be08.html" target="element"> Director Ejecutivo </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>