<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Partes interesadas (Stakeholders) (As is)</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Partes interesadas (Stakeholders) (As is)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-motivation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_motivation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-5c0d78f0045e489cbc24efc9debf5339.png" alt="Partes interesadas (Stakeholders) (As is)" usemap="#id-5c0d78f0045e489cbc24efc9debf5339map"/>
			   <map name="id-5c0d78f0045e489cbc24efc9debf5339map">
				  		<area shape="rect" coords="10,34,130,89" href="../elements/id-a243388da9054126b4437eba5eab78bc.html"  target="element">
				  				<area shape="rect" coords="195,34,315,89" href="../elements/id-6210d3b1ed994e20bb17c341f314be08.html"  target="element">
				  				<area shape="rect" coords="363,34,483,89" href="../elements/id-46537211e6cc4fbbb124b2b4bf109ea1.html"  target="element">

				  		<area shape="rect" coords="159,10,508,107" href="../elements/id-57a4d00e11944d67bbb124a933f7039d.html"  target="element">
				  						<area shape="rect" coords="357,202,477,257" href="../elements/id-2d1050ac24ea4cac9a9707ede9c1708a.html"  target="element">
				  						<area shape="rect" coords="177,202,321,257" href="../elements/id-7a17f93ca6c64c03ad03999c5e533f76.html"  target="element">

				  				<area shape="rect" coords="153,166,514,275" href="../elements/id-eaf553a2f9de42169df78c9650cdf829.html"  target="element">

				  		<area shape="rect" coords="129,130,538,287" href="../elements/id-6885f5f9616b4163bd69e633e9b84917.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6885f5f9616b4163bd69e633e9b84917.html" target="element"> Equipo de gerentes </a> </td>
											    <td> <a href="../elements/id-6885f5f9616b4163bd69e633e9b84917.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-eaf553a2f9de42169df78c9650cdf829.html" target="element"> Gerencia de innovaci&#243;n </a> </td>
													    <td> <a href="../elements/id-eaf553a2f9de42169df78c9650cdf829.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-7a17f93ca6c64c03ad03999c5e533f76.html" target="element"> Impelmentaci&#243;n Metodol&#243;gica </a> </td>
															    <td> <a href="../elements/id-7a17f93ca6c64c03ad03999c5e533f76.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-2d1050ac24ea4cac9a9707ede9c1708a.html" target="element"> PMO </a> </td>
															    <td> <a href="../elements/id-2d1050ac24ea4cac9a9707ede9c1708a.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-57a4d00e11944d67bbb124a933f7039d.html" target="element"> Junta directiva </a> </td>
											    <td> <a href="../elements/id-57a4d00e11944d67bbb124a933f7039d.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-46537211e6cc4fbbb124b2b4bf109ea1.html" target="element"> Gerente General </a> </td>
													    <td> <a href="../elements/id-46537211e6cc4fbbb124b2b4bf109ea1.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6210d3b1ed994e20bb17c341f314be08.html" target="element"> Director Ejecutivo </a> </td>
													    <td> <a href="../elements/id-6210d3b1ed994e20bb17c341f314be08.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-a243388da9054126b4437eba5eab78bc.html" target="element"> Consultores AE </a> </td>
											    <td> <a href="../elements/id-a243388da9054126b4437eba5eab78bc.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-4f805b59934f4dc8af62418936e2328c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4f805b59934f4dc8af62418936e2328c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6885f5f9616b4163bd69e633e9b84917.html" target="element"> Equipo de gerentes </a> </td>
																		<td> <a href="../elements/id-eaf553a2f9de42169df78c9650cdf829.html" target="element"> Gerencia de innovaci&#243;n </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-b6da18dc8f19446eb286fcf6dde96236.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b6da18dc8f19446eb286fcf6dde96236.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-eaf553a2f9de42169df78c9650cdf829.html" target="element"> Gerencia de innovaci&#243;n </a> </td>
																				<td> <a href="../elements/id-7a17f93ca6c64c03ad03999c5e533f76.html" target="element"> Impelmentaci&#243;n Metodol&#243;gica </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-72b6be346adf4a7e84f1d824ecbd4489.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-72b6be346adf4a7e84f1d824ecbd4489.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-eaf553a2f9de42169df78c9650cdf829.html" target="element"> Gerencia de innovaci&#243;n </a> </td>
																				<td> <a href="../elements/id-2d1050ac24ea4cac9a9707ede9c1708a.html" target="element"> PMO </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-dc623ab8ef9a467c86d8212022ff737e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dc623ab8ef9a467c86d8212022ff737e.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-57a4d00e11944d67bbb124a933f7039d.html" target="element"> Junta directiva </a> </td>
																		<td> <a href="../elements/id-6885f5f9616b4163bd69e633e9b84917.html" target="element"> Equipo de gerentes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d70847db8ebf4eac917604c09dc825f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d70847db8ebf4eac917604c09dc825f0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-57a4d00e11944d67bbb124a933f7039d.html" target="element"> Junta directiva </a> </td>
																		<td> <a href="../elements/id-46537211e6cc4fbbb124b2b4bf109ea1.html" target="element"> Gerente General </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a18c3d33407243d6b5c2e641dd7e7695.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a18c3d33407243d6b5c2e641dd7e7695.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-57a4d00e11944d67bbb124a933f7039d.html" target="element"> Junta directiva </a> </td>
																		<td> <a href="../elements/id-6210d3b1ed994e20bb17c341f314be08.html" target="element"> Director Ejecutivo </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-d358b59bd04c43ebb841148521653c79.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d358b59bd04c43ebb841148521653c79.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																				<td> <a href="../elements/id-6210d3b1ed994e20bb17c341f314be08.html" target="element"> Director Ejecutivo </a> </td>
																				<td> <a href="../elements/id-a243388da9054126b4437eba5eab78bc.html" target="element"> Consultores AE </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>