<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Vista Generación de Caja</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Vista Generaci&#243;n de Caja</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-goal_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_goal_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-63668013b4ba4337a1f9333e5388077f.png" alt="Vista Generación de Caja" usemap="#id-63668013b4ba4337a1f9333e5388077fmap"/>
			   <map name="id-63668013b4ba4337a1f9333e5388077fmap">
				  		<area shape="rect" coords="778,454,898,509" href="../elements/id-3873532626c44fd6b0c17fa94b23b067.html"  target="element">
				  		<area shape="rect" coords="454,10,574,65" href="../elements/id-073bfe8353cd41d4ba3d1bb6d73c781a.html"  target="element">
				  		<area shape="rect" coords="10,610,130,683" href="../elements/id-74480551ae6146d4a8cee016b62f5c47.html"  target="element">
				  		<area shape="rect" coords="1105,610,1211,683" href="../elements/id-39ccd93a41af4a41b6034637c55418ad.html"  target="element">
				  		<area shape="rect" coords="966,610,1100,683" href="../elements/id-76adac085c324cd392d45356b5dce3bb.html"  target="element">
				  		<area shape="rect" coords="136,610,263,683" href="../elements/id-ae58df82321a44f4821925f91cc3b16d.html"  target="element">
				  		<area shape="rect" coords="274,610,406,683" href="../elements/id-dc3d75b8931b4ead9df1efcf331da0e2.html"  target="element">
				  		<area shape="rect" coords="138,454,268,509" href="../elements/id-93ebe4e745284f97b02e7c386aad21ea.html"  target="element">
				  		<area shape="rect" coords="574,610,683,683" href="../elements/id-664cb4c54a474087bb7deae4f470b064.html"  target="element">
				  		<area shape="rect" coords="698,610,827,683" href="../elements/id-18535263dcf74602a885f109b129c53a.html"  target="element">
				  		<area shape="rect" coords="414,610,564,683" href="../elements/id-733d8ca611b645c584078561c09b7819.html"  target="element">
				  		<area shape="rect" coords="1224,610,1338,683" href="../elements/id-229e835f91a048babe58b3ad75a22d65.html"  target="element">
				  		<area shape="rect" coords="1122,454,1242,509" href="../elements/id-13e939beccf94688918932d44df60a21.html"  target="element">
				  		<area shape="rect" coords="286,454,406,509" href="../elements/id-c767d1d1138a492aa75e8d65bb5c9641.html"  target="element">
				  		<area shape="rect" coords="595,454,736,509" href="../elements/id-9f32ccbc67c24125b816744a03fb3885.html"  target="element">
				  		<area shape="rect" coords="966,454,1086,509" href="../elements/id-4d7e5ce9aab448f6928d511e432e35d3.html"  target="element">
				  		<area shape="rect" coords="414,454,534,509" href="../elements/id-f930eeae44af40989defb62f4c2cc694.html"  target="element">
				  		<area shape="rect" coords="1224,301,1338,371" href="../elements/id-67182596cbd04aefaa0a813510377c00.html"  target="element">
				  		<area shape="rect" coords="1026,301,1175,371" href="../elements/id-c5a0e02eea0647eabc8818732dc34df1.html"  target="element">
				  		<area shape="rect" coords="810,301,959,371" href="../elements/id-706d6f7872a04305be1155df2d093099.html"  target="element">
				  		<area shape="rect" coords="405,298,564,371" href="../elements/id-1a0c43fec69345cdafc2a4b5048c06ed.html"  target="element">
				  		<area shape="rect" coords="318,166,522,221" href="../elements/id-79048c03b3874d6b87d91bd917b608c6.html"  target="element">
				  		<area shape="rect" coords="614,298,743,371" href="../elements/id-eca6eb2828fb4809b6e40c9f033721a2.html"  target="element">
				  		<area shape="rect" coords="798,166,1027,221" href="../elements/id-3912cf844110499097682cee83250bf2.html"  target="element">
				  		<area shape="rect" coords="1062,166,1267,221" href="../elements/id-45c85af8f11d4332bd343e85da23e7ea.html"  target="element">
				  		<area shape="rect" coords="573,166,775,221" href="../elements/id-d902a759544a445c99921594ace36a36.html"  target="element">
				  		<area shape="rect" coords="690,10,863,65" href="../elements/id-9cd31de179824f3b9b0378b70167307e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-9cd31de179824f3b9b0378b70167307e.html" target="element"> Aumentar flujo de caja </a> </td>
											    <td> <a href="../elements/id-9cd31de179824f3b9b0378b70167307e.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d902a759544a445c99921594ace36a36.html" target="element"> Aumentar flujo de caja por actividades de explotaci&#243;n en 10% en 2021 </a> </td>
											    <td> <a href="../elements/id-d902a759544a445c99921594ace36a36.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-45c85af8f11d4332bd343e85da23e7ea.html" target="element"> Aumentar flujo de caja por actividades de inversi&#243;n en un 10% en 2022 </a> </td>
											    <td> <a href="../elements/id-45c85af8f11d4332bd343e85da23e7ea.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3912cf844110499097682cee83250bf2.html" target="element"> Aumentar flujo de caja por actividades de financiamiento en 15% en 2021 </a> </td>
											    <td> <a href="../elements/id-3912cf844110499097682cee83250bf2.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eca6eb2828fb4809b6e40c9f033721a2.html" target="element"> Adelantar cobranza en 5 dias en 2021 </a> </td>
											    <td> <a href="../elements/id-eca6eb2828fb4809b6e40c9f033721a2.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-79048c03b3874d6b87d91bd917b608c6.html" target="element"> Aumentar la participaci&#243;n de mercado en un 5% en 2021 </a> </td>
											    <td> <a href="../elements/id-79048c03b3874d6b87d91bd917b608c6.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1a0c43fec69345cdafc2a4b5048c06ed.html" target="element"> Reducir costos en 5% en 2021 </a> </td>
											    <td> <a href="../elements/id-1a0c43fec69345cdafc2a4b5048c06ed.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-706d6f7872a04305be1155df2d093099.html" target="element"> Ampliar l&#237;nea de cr&#233;dito de capital de trabajo en 15% en 2021 </a> </td>
											    <td> <a href="../elements/id-706d6f7872a04305be1155df2d093099.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c5a0e02eea0647eabc8818732dc34df1.html" target="element"> Adquirir Est&#225;ndares Togaf e ISO 9001 en 2021 </a> </td>
											    <td> <a href="../elements/id-c5a0e02eea0647eabc8818732dc34df1.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-67182596cbd04aefaa0a813510377c00.html" target="element"> Adquirir IR en 2021 </a> </td>
											    <td> <a href="../elements/id-67182596cbd04aefaa0a813510377c00.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f930eeae44af40989defb62f4c2cc694.html" target="element"> Confiabilidad </a> </td>
											    <td> <a href="../elements/id-f930eeae44af40989defb62f4c2cc694.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4d7e5ce9aab448f6928d511e432e35d3.html" target="element"> Gesti&#243;n del conocimiento </a> </td>
											    <td> <a href="../elements/id-4d7e5ce9aab448f6928d511e432e35d3.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9f32ccbc67c24125b816744a03fb3885.html" target="element"> Empoderamiento local </a> </td>
											    <td> <a href="../elements/id-9f32ccbc67c24125b816744a03fb3885.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c767d1d1138a492aa75e8d65bb5c9641.html" target="element"> Enfoque integral </a> </td>
											    <td> <a href="../elements/id-c767d1d1138a492aa75e8d65bb5c9641.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-13e939beccf94688918932d44df60a21.html" target="element"> Innovaci&#243;n </a> </td>
											    <td> <a href="../elements/id-13e939beccf94688918932d44df60a21.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-229e835f91a048babe58b3ad75a22d65.html" target="element"> Se debe controlar la diversidad Tecnol&#243;gica </a> </td>
											    <td> <a href="../elements/id-229e835f91a048babe58b3ad75a22d65.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-733d8ca611b645c584078561c09b7819.html" target="element"> Los proyectos deben desarrollarse en forma correcta y oportuna </a> </td>
											    <td> <a href="../elements/id-733d8ca611b645c584078561c09b7819.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-18535263dcf74602a885f109b129c53a.html" target="element"> Medir rendimientos y tarificar granularmente </a> </td>
											    <td> <a href="../elements/id-18535263dcf74602a885f109b129c53a.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-664cb4c54a474087bb7deae4f470b064.html" target="element"> Manejar ciclo de vida de RRHH </a> </td>
											    <td> <a href="../elements/id-664cb4c54a474087bb7deae4f470b064.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-93ebe4e745284f97b02e7c386aad21ea.html" target="element"> No perder oportunidades </a> </td>
											    <td> <a href="../elements/id-93ebe4e745284f97b02e7c386aad21ea.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dc3d75b8931b4ead9df1efcf331da0e2.html" target="element"> identificar oportunidades rentables </a> </td>
											    <td> <a href="../elements/id-dc3d75b8931b4ead9df1efcf331da0e2.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ae58df82321a44f4821925f91cc3b16d.html" target="element"> Abrir nuevas operaciones eficientemente </a> </td>
											    <td> <a href="../elements/id-ae58df82321a44f4821925f91cc3b16d.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-76adac085c324cd392d45356b5dce3bb.html" target="element"> Adquirir herramientas necesarias para GC </a> </td>
											    <td> <a href="../elements/id-76adac085c324cd392d45356b5dce3bb.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-39ccd93a41af4a41b6034637c55418ad.html" target="element"> Se debe respetar el marco Cima </a> </td>
											    <td> <a href="../elements/id-39ccd93a41af4a41b6034637c55418ad.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-74480551ae6146d4a8cee016b62f5c47.html" target="element"> Desarrollar propuestas con calidad y oportunidad </a> </td>
											    <td> <a href="../elements/id-74480551ae6146d4a8cee016b62f5c47.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-073bfe8353cd41d4ba3d1bb6d73c781a.html" target="element"> Generaci&#243;n de Caja </a> </td>
											    <td> <a href="../elements/id-073bfe8353cd41d4ba3d1bb6d73c781a.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3873532626c44fd6b0c17fa94b23b067.html" target="element"> Cortafuegos </a> </td>
											    <td> <a href="../elements/id-3873532626c44fd6b0c17fa94b23b067.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-a176aa841ad3479582919d4048ca7a9d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a176aa841ad3479582919d4048ca7a9d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-9cd31de179824f3b9b0378b70167307e.html" target="element"> Aumentar flujo de caja </a> </td>
																		<td> <a href="../elements/id-073bfe8353cd41d4ba3d1bb6d73c781a.html" target="element"> Generaci&#243;n de Caja </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3f20d4acc5ae4d879bd3a71f3f9a8582.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3f20d4acc5ae4d879bd3a71f3f9a8582.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-d902a759544a445c99921594ace36a36.html" target="element"> Aumentar flujo de caja por actividades de explotaci&#243;n en 10% en 2021 </a> </td>
																		<td> <a href="../elements/id-9cd31de179824f3b9b0378b70167307e.html" target="element"> Aumentar flujo de caja </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4369caaeb26c41d1ae0f24813c7c7fb4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4369caaeb26c41d1ae0f24813c7c7fb4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-45c85af8f11d4332bd343e85da23e7ea.html" target="element"> Aumentar flujo de caja por actividades de inversi&#243;n en un 10% en 2022 </a> </td>
																		<td> <a href="../elements/id-9cd31de179824f3b9b0378b70167307e.html" target="element"> Aumentar flujo de caja </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7b207106ad2643b39db6ad16a5e8caaa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7b207106ad2643b39db6ad16a5e8caaa.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-3912cf844110499097682cee83250bf2.html" target="element"> Aumentar flujo de caja por actividades de financiamiento en 15% en 2021 </a> </td>
																		<td> <a href="../elements/id-9cd31de179824f3b9b0378b70167307e.html" target="element"> Aumentar flujo de caja </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-38ec7dc8083448cea1c04b9ac6fd8ede.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-38ec7dc8083448cea1c04b9ac6fd8ede.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-eca6eb2828fb4809b6e40c9f033721a2.html" target="element"> Adelantar cobranza en 5 dias en 2021 </a> </td>
																		<td> <a href="../elements/id-d902a759544a445c99921594ace36a36.html" target="element"> Aumentar flujo de caja por actividades de explotaci&#243;n en 10% en 2021 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5d0d584e72bb4646b2f8cab52d76072f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5d0d584e72bb4646b2f8cab52d76072f.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-79048c03b3874d6b87d91bd917b608c6.html" target="element"> Aumentar la participaci&#243;n de mercado en un 5% en 2021 </a> </td>
																		<td> <a href="../elements/id-d902a759544a445c99921594ace36a36.html" target="element"> Aumentar flujo de caja por actividades de explotaci&#243;n en 10% en 2021 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-209f318c23ea4e2d9ae5d4f74a0cfada.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-209f318c23ea4e2d9ae5d4f74a0cfada.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-1a0c43fec69345cdafc2a4b5048c06ed.html" target="element"> Reducir costos en 5% en 2021 </a> </td>
																		<td> <a href="../elements/id-d902a759544a445c99921594ace36a36.html" target="element"> Aumentar flujo de caja por actividades de explotaci&#243;n en 10% en 2021 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6fa22258b21744989d8a20ae0dd7be7f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6fa22258b21744989d8a20ae0dd7be7f.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-706d6f7872a04305be1155df2d093099.html" target="element"> Ampliar l&#237;nea de cr&#233;dito de capital de trabajo en 15% en 2021 </a> </td>
																		<td> <a href="../elements/id-3912cf844110499097682cee83250bf2.html" target="element"> Aumentar flujo de caja por actividades de financiamiento en 15% en 2021 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-88e67dda9ef141ea9acd75a3ab0cf3e2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-88e67dda9ef141ea9acd75a3ab0cf3e2.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-c5a0e02eea0647eabc8818732dc34df1.html" target="element"> Adquirir Est&#225;ndares Togaf e ISO 9001 en 2021 </a> </td>
																		<td> <a href="../elements/id-45c85af8f11d4332bd343e85da23e7ea.html" target="element"> Aumentar flujo de caja por actividades de inversi&#243;n en un 10% en 2022 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-886b071824474742a59b0636eb772193.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-886b071824474742a59b0636eb772193.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-c5a0e02eea0647eabc8818732dc34df1.html" target="element"> Adquirir Est&#225;ndares Togaf e ISO 9001 en 2021 </a> </td>
																		<td> <a href="../elements/id-3912cf844110499097682cee83250bf2.html" target="element"> Aumentar flujo de caja por actividades de financiamiento en 15% en 2021 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-db53c381476e422e86294a4a4e9c5eb6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-db53c381476e422e86294a4a4e9c5eb6.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-67182596cbd04aefaa0a813510377c00.html" target="element"> Adquirir IR en 2021 </a> </td>
																		<td> <a href="../elements/id-45c85af8f11d4332bd343e85da23e7ea.html" target="element"> Aumentar flujo de caja por actividades de inversi&#243;n en un 10% en 2022 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-da15ccabc8074651b91ffc3a4c32eb4b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-da15ccabc8074651b91ffc3a4c32eb4b.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-f930eeae44af40989defb62f4c2cc694.html" target="element"> Confiabilidad </a> </td>
																		<td> <a href="../elements/id-1a0c43fec69345cdafc2a4b5048c06ed.html" target="element"> Reducir costos en 5% en 2021 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-459f32a53f66478fbac836d9698dfb2a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-459f32a53f66478fbac836d9698dfb2a.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-4d7e5ce9aab448f6928d511e432e35d3.html" target="element"> Gesti&#243;n del conocimiento </a> </td>
																		<td> <a href="../elements/id-c5a0e02eea0647eabc8818732dc34df1.html" target="element"> Adquirir Est&#225;ndares Togaf e ISO 9001 en 2021 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e601789e639943669f7a7acecd0216ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e601789e639943669f7a7acecd0216ef.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-4d7e5ce9aab448f6928d511e432e35d3.html" target="element"> Gesti&#243;n del conocimiento </a> </td>
																		<td> <a href="../elements/id-1a0c43fec69345cdafc2a4b5048c06ed.html" target="element"> Reducir costos en 5% en 2021 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-09591a208548465382250a1e26e6d81e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-09591a208548465382250a1e26e6d81e.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-9f32ccbc67c24125b816744a03fb3885.html" target="element"> Empoderamiento local </a> </td>
																		<td> <a href="../elements/id-1a0c43fec69345cdafc2a4b5048c06ed.html" target="element"> Reducir costos en 5% en 2021 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7db67911b7b14762b67fc07640104c19.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7db67911b7b14762b67fc07640104c19.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-9f32ccbc67c24125b816744a03fb3885.html" target="element"> Empoderamiento local </a> </td>
																		<td> <a href="../elements/id-eca6eb2828fb4809b6e40c9f033721a2.html" target="element"> Adelantar cobranza en 5 dias en 2021 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-95ef7ba8e3744d2481e6ef8db7e2f322.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-95ef7ba8e3744d2481e6ef8db7e2f322.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-c767d1d1138a492aa75e8d65bb5c9641.html" target="element"> Enfoque integral </a> </td>
																		<td> <a href="../elements/id-79048c03b3874d6b87d91bd917b608c6.html" target="element"> Aumentar la participaci&#243;n de mercado en un 5% en 2021 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cb2ab8d36fc04e678e8fd13e76555864.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb2ab8d36fc04e678e8fd13e76555864.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-13e939beccf94688918932d44df60a21.html" target="element"> Innovaci&#243;n </a> </td>
																		<td> <a href="../elements/id-c5a0e02eea0647eabc8818732dc34df1.html" target="element"> Adquirir Est&#225;ndares Togaf e ISO 9001 en 2021 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0ec5131aa90142d38b58c983fcde151e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0ec5131aa90142d38b58c983fcde151e.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-229e835f91a048babe58b3ad75a22d65.html" target="element"> Se debe controlar la diversidad Tecnol&#243;gica </a> </td>
																		<td> <a href="../elements/id-13e939beccf94688918932d44df60a21.html" target="element"> Innovaci&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-31d38bff406a41059a2ec0f4eb7bb438.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-31d38bff406a41059a2ec0f4eb7bb438.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-733d8ca611b645c584078561c09b7819.html" target="element"> Los proyectos deben desarrollarse en forma correcta y oportuna </a> </td>
																		<td> <a href="../elements/id-9f32ccbc67c24125b816744a03fb3885.html" target="element"> Empoderamiento local </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3cf403e27d9e4c4c9514a05c78c307e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3cf403e27d9e4c4c9514a05c78c307e5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-733d8ca611b645c584078561c09b7819.html" target="element"> Los proyectos deben desarrollarse en forma correcta y oportuna </a> </td>
																		<td> <a href="../elements/id-f930eeae44af40989defb62f4c2cc694.html" target="element"> Confiabilidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b156059f54854c2eb6d309586c9d4ea7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b156059f54854c2eb6d309586c9d4ea7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-733d8ca611b645c584078561c09b7819.html" target="element"> Los proyectos deben desarrollarse en forma correcta y oportuna </a> </td>
																		<td> <a href="../elements/id-c767d1d1138a492aa75e8d65bb5c9641.html" target="element"> Enfoque integral </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b1295e836a6349f18efe1c48abf28614.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b1295e836a6349f18efe1c48abf28614.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-18535263dcf74602a885f109b129c53a.html" target="element"> Medir rendimientos y tarificar granularmente </a> </td>
																		<td> <a href="../elements/id-9f32ccbc67c24125b816744a03fb3885.html" target="element"> Empoderamiento local </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-337358d34f5f41079819b644f07a9848.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-337358d34f5f41079819b644f07a9848.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-664cb4c54a474087bb7deae4f470b064.html" target="element"> Manejar ciclo de vida de RRHH </a> </td>
																		<td> <a href="../elements/id-f930eeae44af40989defb62f4c2cc694.html" target="element"> Confiabilidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2c23ce70e2ce4e8d8700bfa0f8936e2f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2c23ce70e2ce4e8d8700bfa0f8936e2f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-664cb4c54a474087bb7deae4f470b064.html" target="element"> Manejar ciclo de vida de RRHH </a> </td>
																		<td> <a href="../elements/id-9f32ccbc67c24125b816744a03fb3885.html" target="element"> Empoderamiento local </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-34b6758ae99044d78a2e3e2b695f3627.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-34b6758ae99044d78a2e3e2b695f3627.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-93ebe4e745284f97b02e7c386aad21ea.html" target="element"> No perder oportunidades </a> </td>
																		<td> <a href="../elements/id-79048c03b3874d6b87d91bd917b608c6.html" target="element"> Aumentar la participaci&#243;n de mercado en un 5% en 2021 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6cad96c49f624426a1f66c5b014dba01.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6cad96c49f624426a1f66c5b014dba01.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-dc3d75b8931b4ead9df1efcf331da0e2.html" target="element"> identificar oportunidades rentables </a> </td>
																		<td> <a href="../elements/id-93ebe4e745284f97b02e7c386aad21ea.html" target="element"> No perder oportunidades </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5d26e15a9faa4b4fa035dd56fa9e4cf9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5d26e15a9faa4b4fa035dd56fa9e4cf9.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-ae58df82321a44f4821925f91cc3b16d.html" target="element"> Abrir nuevas operaciones eficientemente </a> </td>
																		<td> <a href="../elements/id-93ebe4e745284f97b02e7c386aad21ea.html" target="element"> No perder oportunidades </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-af1b5b8247964798a366724f8c8c9749.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-af1b5b8247964798a366724f8c8c9749.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-76adac085c324cd392d45356b5dce3bb.html" target="element"> Adquirir herramientas necesarias para GC </a> </td>
																		<td> <a href="../elements/id-4d7e5ce9aab448f6928d511e432e35d3.html" target="element"> Gesti&#243;n del conocimiento </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8d77b1cefb5d4c42a471fa0642c1e283.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8d77b1cefb5d4c42a471fa0642c1e283.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-39ccd93a41af4a41b6034637c55418ad.html" target="element"> Se debe respetar el marco Cima </a> </td>
																		<td> <a href="../elements/id-13e939beccf94688918932d44df60a21.html" target="element"> Innovaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-823a9e6f1d844f779ca1b38e1f743eaf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-823a9e6f1d844f779ca1b38e1f743eaf.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-39ccd93a41af4a41b6034637c55418ad.html" target="element"> Se debe respetar el marco Cima </a> </td>
																		<td> <a href="../elements/id-4d7e5ce9aab448f6928d511e432e35d3.html" target="element"> Gesti&#243;n del conocimiento </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-385232b062f34f5b93c2ae4d2fb9ef44.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-385232b062f34f5b93c2ae4d2fb9ef44.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-74480551ae6146d4a8cee016b62f5c47.html" target="element"> Desarrollar propuestas con calidad y oportunidad </a> </td>
																		<td> <a href="../elements/id-93ebe4e745284f97b02e7c386aad21ea.html" target="element"> No perder oportunidades </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>